<div class="menu-box">
	<div class="menu-inner">
		<%= link_to "客戶", "",:class=>"selected",:content=>".admin-customers"%>
		<%= link_to "送貨員","",:class=>"", :content=>".admin-delivery-people"%>
		<%= link_to "廠商","",:class=>"", :content=>".admin-manufacturer"%>
	</div>
</div>


<div class="content-box">
	<div class="content-inner">
		<div class="admin-customers">
			<%= render :partial=>"admin/customers/index.html", :locals=>{:customers=>@customers, :search_key=>@search_key} %>
		</div>

		<div class="admin-customer-show" style="display:none"></div>
		<div class="admin-customer-form" style="display:none"></div>
	</div>
</div>

<script>
	
	var adminCustomer = {
		urls: {
			indexPath: function(){
				return ("/admin/customers");
			},
			newPath: function(){
				return ("/admin/customers/new");
			},
			showPath: function(customerId){
				return ("/admin/customers/" + customerId);
			},
			createPath: function(){
				return ("/admin/customers")
			},
			editPath: function(customerId){
				return ("/admin/customers/" + customerId + "/edit");
			},
			updatePath: function(customerId){
				return ("/admin/customers/" + customerId);
			},
			destroyPath:function(customerId){
				return ("/admin/customers/" + customerId);				
			},
			setStatus:function(customerId){
				return ("/admin/customer/" + customerId + "/setStatus");
			}
		},
		showViews: function(view){
			this.hideViews();
			if (view=="index"){
				$('.admin-customers').show();				
			}else if(view=="show"){
				$('.admin-customer-show').show();				
			}else if(view=="form"){
				$('.admin-customer-form').show();				
			}
		},
		hideViews: function(){
			$('.admin-customers').hide();
			$('.admin-customer-show').hide();
			$('.admin-customer-form').hide();
		}
	}

	$('.admin-customers').on('click','.admin-customer-new-button',function(e){
		e.preventDefault();
		$.ajax({
			url: adminCustomer.urls.newPath(),
			dataType: 'json',
			success:function(data){
				$('.admin-customer-form').html(data['template'])
				adminCustomer.showViews('form')
			}
		})
	})

	$('.admin-customers').on('click','.admin-customer-show-button',function(e){
		e.preventDefault();
		var customerId = $(this).attr('customer_id')
		$.ajax({
			url: adminCustomer.urls.showPath(customerId),
			dataType: 'json',
			success:function(data){
				$('.admin-customer-show').html(data['template']);
				adminCustomer.showViews("show");
			}
		})
	})

	$('.admin-customer-show').on('click','.admin-customer-edit-button',function(e){
		e.preventDefault();
		var customerId = $(this).attr('customer_id');
		$.ajax({
			url: adminCustomer.urls.editPath(customerId),
			dataType: 'json',
			method: 'get',
			success: function(data){
				$('.admin-customer-form').html(data['template']);
				adminCustomer.showViews("form");				
			}
		})
	})

	$('.admin-customer-show').on('click','.admin-customer-destroy-button',function(e){
		e.preventDefault();
		var customerId = $(this).attr('customer_id');
		$.ajax({
			url: adminCustomer.urls.destroyPath(customerId),
			dataType: 'json',
			method: 'delete',
			success: function(data){
				$('.admin-customers').html(data['template']);
				adminCustomer.showViews("index");
			}
		})
	})	

	$('.admin-customer-form').on('click','.admin-customer-create-button',function(e){
		e.preventDefault();
		var data = $(this).closest('form').serialize();
		console.log(data);
		$.ajax({
			url: adminCustomer.urls.createPath(),
			dataType: 'json',
			method: 'post',
			success: function(data){
				$('.admin-customer-show').html(data['template']);
				adminCustomer.showViews("show");
			}
		})
	})

	$('.admin-customer-form').on('click','.admin-customer-update-button',function(e){
		e.preventDefault();
		var customerId = $(this).attr('customer_id');
		var data = $(this).closest('form').serialize;
		console.log(data);
		$.ajax({
			url: adminCustomer.urls.updatePath(customerId),
			dataType: 'json',
			method: 'patch',
			success: function(data){
				$('.admin-customers').html(data['template']);
				adminCustomer.showViews("index");				
			}
		})
	})

	$('.admin-customers').on('click','.customer-status-button',function(e){
		e.preventDefault();
		var customerId = $(this).attr('customer_id');
		$.ajax({
			url: adminCustomer.urls.setStatus(customerId),
			dataType: "json",
			success:function(data){

			}
		})
		console.log($(this).text());

	})	

</script>



