<%# customer_routes %>

<table class="table">
	<% customer_routes.each_with_index do |customer_route,index| %>
		<tr index=<%=index%> >
			<td> <%= index+1 %> </td>
			<td> <%= "#{customer_route.customer.code} -#{customer_route.customer.name}" %> </td>
			<td class="address"> <%= customer_route.customer.addresses.first.try(:address) %> </td>
		</tr>
	<% end %>				
</table>					

