<%# map_customers %>

<table class="table">
	<% map_customers.each_with_index do |c,index| %>
		<tr index=<%=index%> >
			<td> <%= index+1 %> </td>
			<td> <%= "#{c.code} -#{c.name}" %> </td>
			<td class="address"> <%= c.addresses.first.try(:address) %> </td>
		</tr>
	<% end %>				
</table>					

