

.admin-customers{
	
	.info-box{
		.page-box{
			width: 70%;
			float: left;
		}

		.page-box1{
			padding: 20px 0;
			float: right;
		}
	}

	.info-box::after{
		display: block;
		content: "";
		clear: both;
	}

	.info-box2{
		.search{
			margin: 20px;
			float: left;

			input[type=text]{
				width:200px;
			}
		}

		.sort{
			float: left;
	    margin: 25px 0 0 100px;

	    select{
	    	border-radius: 0px;
	    }
		}

		.new-button{
			float: right;
			margin:20px 20px 0 0;
		}
	}

	.info-box2::after{
		content:"";
		display:block;
		clear:both;
	}
	
	.admin-customer-content{
		table-layout: fixed;

		.customer-status{
			color:green;
			border-radius: 5px;
	    display: block;
	    padding: 2px;
	    text-align: center
    }
		 	
		.customer-status.active{
	 		background-color: #dd3;
		}
					
		.customer-status.inactive{
			background-color: #eee;
		}
		
		ul{
			padding-left:10px;
		}

	}

}

.admin-customer-show{
	h3{
		padding: 20px 0;
	}

	.edit-box{
		float: left;
	}

	.destroy-box{
		float: right;
		a {
			color:red
		}
	}

	.table{
		margin: 20px 0;
	}
}

.admin-customer-form{

	h3{
		padding:20px 0;
	}
	
	form{
		.admin-customer-btn{
			padding: 5px 5px 15px;

			.admin-customer-cancel{
				float: left;
			}

			.admin-customer-submit{
				float: right;
			}			
		}

		.admin-customer-btn::after{
			display: block;
			content: "";
			clear:both;
		}

		input[type=text]{
			width:250px;
			margin: 0px 20px 10px 0px;
		}

		select{
			border-radius: 0px;
		}

		.remove{
			color:red;
		}		

	}

}

