
<div class="home">
	
	<div class="title">	<h1>品冠貨運公司</h1> 	</div>
	<div class="box"> <%= link_to "表單", daily_forms_path %>	</div>
	<div class="box"> <%= link_to "客戶", customers_path %>	</div>
	<div class="box"> <%= link_to "路線規劃", customer_routes_path %> </div>
	<div class="box"> <%= link_to "設定",admin_customers_path %> </div>


</div>




