<%# daily_form, form1_values %>
<%= form_tag '#', :class=>"form1-value-form" do %>
	<%= submit_tag "繳交", :class=>'submit' %>
	<table class="table form1-value-form-table">
		<thead>		
			<tr>
				<td></td>
				<td> 客戶 </td>
				<td> 廠商 </td>
				<td> 送貨員 </td>
				<td> 欄數 </td>
				<td> 備註 </td>
				<td></td>
			</tr>
		</thead>
		<tbody>		
		
		<%= render :partial=>"daily_forms/form1_values_edit_row.html", 
							 :collection=> form1_values, 
							 :as=> :form1_value %>

		</tbody>
	</table>

	<%= link_to "新增行數", "", :class=>"form1-value-new btn btn-success" %>

<% end %>


