
.delivery-routes{

	.info{
		padding: 20px 20px 20px;

		h1{
		}
		.date-selector{
			padding: 20px 0;
			select{
				border-radius: 0px;
				width:100%;
				height: 50px;
				font-size: 2.0em;
			}
		}			
	}

	.info::after{
		content: "";
		display: block;
		clear: both;
	}

	.list{
		float: left;
		padding: 20px 30px;
		width: 100%;

		table{
			width: 90%;
			margin: 0 auto;				
		}
	}

	.map-box{
		float: left;
		padding: 20px 0;
		margin: 0 50px;

		#map{
			width: 800px;
			height: 400px;
		}
	}

	tr.selected{
		background-color: rgba(0, 255, 32, 0.6);
	}

	tr.subselected{
		background-color: rgba(0, 255, 32, 0.2);
	}

	tr:hover{
		background-color: rgba(0, 255, 229, 0.6);
	}
}


.customer-index{
	.search-box{
		padding:20px 20px 0px;

		form{
			.box1{
				padding: 0 0 10px;

				input[type=text]{
					width:400px;
					height: 35px;
				}
			}
		}
	}

	.page-box{
		padding:20px;
		nav.pagination{
			padding:0px;
			margin:0px;
		}
	}
}


.customer-delivery-plan-days{
	.table{
		text-align: center;
	}
}

.customer-new-table{
	.t-field {
		width:200px;
	}

	.t-area {
		width:300px;
	}

	select{
		width:200px;
		border-radius: 0;
		height: 30px;
	}
}
