

.customer-index{
	.search-box{
		form{
			.box1{
				padding: 0 0 10px;
			}

			.box2{
				.field{
					float:left;
					padding-right:20px;
				}

			}

			select{
				border-radius: 0;
			}

			label{
				color:rgba(126, 158, 119, 0.87);
			}

		}
	}

	.page-box{
		nav.pagination{

		}
	}
}

.customer-delivery-plan-days{
	.table{
		text-align: center;
	}
}

.customer-new-table{
	.t-field {
		width:200px;
	}

	.t-area {
		width:300px;
	}

	select{
		width:200px;
		border-radius: 0;
		height: 30px;
	}
}
