
.delivery-routes{

	.info{
		padding: 20px 20px 20px;

		h1{
			
			.delivery-person-select{
				border-radius: 0px;
			}

		}
		.date-selector{
			padding: 20px 0;
			select{
				border-radius: 0px;
				width:100%;
				height: 50px;
				font-size: 2.0em;
			}
		}			
	}

	.info::after{
		content: "";
		display: block;
		clear: both;
	}

	.map-box{
		float: left;
		padding: 20px 0;

		#map{
			width: 700px;
			height: 500px;
		}
	}

	.list{
		float: left;
		padding: 20px 30px;
		width: 300px;

		table{
			width: 100%;
			margin: 0;	
			table-layout: fixed;

			td:nth-child(1){
				width:10%;
			}
			
			tr{
				td{
					padding: 2px;
				}

				.name{
					font-size: 0.8em;
				}
				.address{
					font-size: 0.5em;
					color: #aaa;
				}
			}
			
			tr.no-address{
				color: #aaa;
			}

			tr.selected{
				background-color: rgba(0, 255, 32, 0.6);
			}

			tr.subselected{
				background-color: rgba(0, 255, 32, 0.2);
			}

			tr:hover{
				background-color: rgba(0, 255, 229, 0.6);
			}

		}
	}
}

@media screen and (max-device-width: 780px){
	.delivery-routes{	
		.map-box{
			float: left;
			padding: 20px 20px;

			#map{
				width: 1000px;
				height: 800px;
			}
		}

		.list{
			padding: 20px 0;
			width: 1000px;

			table{
				width: 90%;
				margin: 0 auto;
				table-layout: fixed;

				td:nth-child(1){
					font-size: 2em;
					width:10%;
				}
			
				td:nth-child(2){
					width:90%;
				}

				tr{
					height: 60px;

					td{
						padding: 2px;
					}

					.name{
						font-size: 3em;
					}
					.address{
						font-size: 2em;
						color: #aaa;
					}
				}	
			}	
		}

	}



}

.customer-index{
	.search-box{
		padding:20px 20px 0px;

		form{
			.box1{
				padding: 0 0 10px;

				input[type=text]{
					width:400px;
					height: 35px;
				}
			}
		}
	}

	.page-info{
		padding:20px;

		.page-box{
			float:left;

			nav.pagination{
				padding:0px;
				margin:0px;
			}
		}

		.page-box1{
			float:right
		}	
	}
	.page-info::after{
		display:block;
		content:"";
		clear:both;
	}


}


.customer-delivery-plan-days{
	.table{
		text-align: center;
	}
}

.customer-new-table{
	.t-field {
		width:200px;
	}

	.t-area {
		width:300px;
	}

	select{
		width:200px;
		border-radius: 0;
		height: 30px;
	}
}
