.daily-form-index{
	padding: 0px 0px;
	
	.daily-form .form-show{
		.title{
			padding: 10px 0 20px 0;

			h1{
				float: left;
				width: 400px;
			}

			.form-date{
		    border-radius: 0;
		    width: 200px;
		    height: 40px;
		    font-size: 1.4em;
		    float:left;
			}

			.edit{
				float: right;
			}
		}

		.title::after{
			display: block;
			content: "";
			clear: both;
		}
	}

	.daily-form .form-edit{
		.title{
			h1{
				float: left;
				width: 400px;

				.editing{
					font-size:0.4em;
				}					
			}

			.submit{
				float: right;
			}
		}

		.form-value-form{
			select{
				border-radius: 0px;
				width: 100px;
				height: 30px;
			}			
		}
	}
}

