.daily-form-index{
	padding: 0px 0px;
	
	.page-box{
		padding:0 0 20px 0;
	}


	.form1 .form1-show, .form2 .form2-show{
		.title{
			padding: 10px 0 20px 0;

			h1{
				float: left;
			}

			.edit{
				float: right;
			}
		}

		.title::after{
			display: block;
			content: "";
			clear: both;
		}
	}

	.form1 .form1-edit{
		.form1-value-form{
			
			select{
				border-radius: 0px;
				width: 100px;
				height: 30px;
			}
			
			.submit{
		    width: 90%;
		    height: 60px;
		    background-color: rgba(85, 243, 50, 0.84);
				margin: 10px auto;
				display: block;
			}
		}
	}

	.form2 .form2-edit{
		.form2-value-form{
			text-align: center;

			input[type=number]{
				width:50px;
				height: 30px;
				text-align: inherit;
			}

			.submit{
		    width: 90%;
		    height: 60px;
		    background-color: rgba(85, 243, 50, 0.84);
				margin: 10px auto;
				display: block;
			}				
		}
	}

}

